.cardProducto {
    background-color: aqua;
    border-radius: 10px;
    width: 2rem;
    padding: 8rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgProducto {
    margin:2rem ;
    width: 250px;
    object-fit: contain;
}





